<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <!-- Custom styles -->
    <link rel="stylesheet" href='/styles/custom.css'>
    <!-- Custom functions -->
    <script type="text/javascript" src="/js/utils/common.js"></script>
    <script type="text/javascript" src="/js/renders/portal.js"></script>
    <script type="text/javascript" src="/js/renders/forms.js"></script>
    <script type="text/javascript" src="/js/apis/products.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="/images/Navbar-logo_white-short.png" width="15px" height="30px" class="d-inline-block align-top" alt="">
        FastSpring
      </a>
      <button id="fs-logout" data-toggle="tooltip" data-placement="bottom" title="Logout" data-original-title="Logout" class="navbar-toggler" type="button" onclick="logout()">
          <i class="fa fa-sign-out customBlue" style="cursor:pointer">
          </i>
      </button>
    </nav>

    <div class="container-color d-flex w-100 h-100 mx-auto flex-column">
        <main role="main" class="container">
          <h1> Bulk Discount </h1>
            <div id='form-container' class='card container'>
              <h3> Create a discount <br></h3>
                <!-- Form will be populated here -->
            </div>
            <div id='products-container' class='card container'>
              <div id="loading-spinner" class="spinner-border pageLoader" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <h3> Select products to discount <br></h3>
                <!-- Content will be populated here -->
            </div>
        </main>
    </div>


    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            $('#loading-spinner').show();
            // Get all product details and render it
            const token = getToken();
            $.post(`${window.location.origin}/getPortalDetails`, { token })
                .done((resPortal) => {
                    if (resPortal && resPortal.success) {
                        console.log(resPortal.products);

                        //TODO:
                        //Call intial form not products table
                        //Only insert jquery for select table row if there are products
                        //Validate discount form before submit goes through

                        const productsElement = resPortal.products.length > 0 ?
                            renderProductsTable(resPortal.products)
                            :
                            renderNoProducts(resPortal.products);
                        ;
                        const formElement = renderSelectedDiscountForm();
                        $('#loading-spinner').hide();
                        $('#products-container').append([productsElement]);
                        $('#form-container').append(formElement);

                        //used for table row selecting
                        $(document).ready(function(){
                          var date_input=$('input[name="date"]'); //our date input has the name "date"
                          var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
                          var options={
                            format: {
                              toDisplay: function(date, format, language) {
                                var d = new Date(date);
                                return d.toISOString();
                              },
                              toValue: function(date, format, language) {
                                var d = new Date(date);
                                return "test";
                              }
                            },
                            clearBtn: true,
                            container: container,
                            todayHighlight: true,
                            autoclose: true
                          };
                          date_input.datepicker(options);
                        })

                        $('.table tr.product-row').click(function(event){
                          event.preventDefault();
                          if (event.target.type !== 'checkbox') {
                            $(':checkbox', this).trigger('click');
                          }
                        });
                    } else {
                        forceLogout(resPortal.error);
                    }
                })
                .fail(() => {
                    forceLogout('An unexpected server error occurred, please login again.');
                });
        });
    </script>
  </body>
</html>
